<div class="col-md-offset-2 col-md-8" data-ng-controller="PlaceController as ctrl" data-ng-init="ctrl.init()">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Cadastro de Local de Eventos</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="codigo" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="codigo"  data-ng-model="ctrl.place.id" disabled />
					</div>
				</div>
				<div class="form-group">
					<label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="logradouro" data-ng-model="ctrl.place.address" />
					</div>
					<label for="numero" class="col-sm-1 control-label">Número</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="numero" data-ng-model="ctrl.place.number" />
					</div>
				</div>
				<div class="form-group">
					<label for="bairro" class="col-sm-2 control-label">Bairro</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="bairro"  data-ng-model="ctrl.place.neighborhood" />
					</div>
				</div>
				<div class="form-group">
					<label for="estado" class="col-sm-2 control-label">Estado</label>
					<div class="col-sm-2">
						<select class="form-control" name="stateSelect" id="stateSelect"
								data-ng-options="state.name for state in ctrl.states track by state.id"
								data-ng-model="ctrl.place.city.state" data-ng-change="ctrl.listCities(ctrl.place.city.state.id)">
						</select>
					</div>
					
					<label for="cidade" class="col-sm-2 control-label">Cidade</label>
					<div class="col-sm-2">
						<select class="form-control" name="citySelect" id="citySelect"
								data-ng-options="city.name for city in ctrl.cities track by city.id"
								data-ng-model="ctrl.place.city">
						</select>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<div class=" text-right col-sm-offset-6 col-sm-4">
						<input type="text" class="form-control" id="search" placeholder="Pesquisar..." data-ng-model="search.address" />
					</div>
					<button type="submit" class="btn btn-primary" data-ng-hide="ctrl.place.id == null" data-ng-click="ctrl.update()">Atualizar</button>
					<button type="submit" class="btn btn-success" data-ng-show="ctrl.place.id == null" data-ng-click="ctrl.save()">Salvar</button>
					<button type="submit" class="btn btn-default" data-ng-click="ctrl.clear()">Limpar</button>	
				</div>
			</form>

			<div>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Endereço</th>
							<th>Numero</th>
							<th>Bairro</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="place in ctrl.places | filter:search:strict">
							<td>{{ place.id }}</td>
							<td>{{ place.address }}</td>
							<td>{{ place.number }}</td>
							<td>{{ place.neighborhood }}</td>
							<td>{{ place.city.name }}</td>
							<td>{{ place.city.state.name }}</td>
							<td>
								<button type="submit" data-ng-click="ctrl.findById(place.id)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"> </i></button>
								<button type="submit" data-ng-click="ctrl.remove(place.id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"> </i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>