<div class="col-md-offset-2 col-md-8" data-ng-controller="EventController as ctrl" data-ng-init="ctrl.init()">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Cadastro de Local de Eventos</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="codigo" class="col-sm-2 control-label">Código</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="codigo"  data-ng-model="ctrl.event.id" disabled />
					</div>
				</div>
				<div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="nome" data-ng-model="ctrl.event.name" />
					</div>
				</div>
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao"  data-ng-model="ctrl.event.description" />
					</div>
				</div>
				<div class="form-group">
					<label for="data" class="col-sm-2 control-label">Data</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="data"  data-ng-model="ctrl.event.date" />
					</div>
					
					<label for="localEvento" class="col-sm-2 control-label">Local do Evento</label>
					<div class="col-sm-2">
						<select class="form-control" name="localEvento" id="localEvento"
								data-ng-options="place.nickname for place in ctrl.places track by place.id"
								data-ng-model="ctrl.event.eventPlace">
						</select>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<div class=" text-right col-sm-offset-6 col-sm-4">
						<input type="text" class="form-control" id="search" eventholder="Pesquisar..." data-ng-model="search.address" />
					</div>
					<button type="submit" class="btn btn-primary" data-ng-hide="ctrl.event.id == null" data-ng-click="ctrl.update()">Atualizar</button>
					<button type="submit" class="btn btn-success" data-ng-show="ctrl.event.id == null" data-ng-click="ctrl.save()">Salvar</button>
					<button type="submit" class="btn btn-default" data-ng-click="ctrl.clear()">Limpar</button>	
				</div>
			</form>

			<div>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Endereço</th>
							<th>Numero</th>
							<th>Bairro</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="event in ctrl.events | filter:search:strict">
							<td>{{ event.id }}</td>
							<td>{{ event.address }}</td>
							<td>{{ event.number }}</td>
							<td>{{ event.neighborhood }}</td>
							<td>{{ event.city.name }}</td>
							<td>{{ event.city.state.name }}</td>
							<td>
								<button type="submit" data-ng-click="ctrl.findById(event.id)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"> </i></button>
								<button type="submit" data-ng-click="ctrl.remove(event.id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"> </i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>